eclipse-workspace/.metadata
eclipse-workspace/.gitignore
eclipse-workspace/aula1/.classpath
eclipse-workspace/aula1/.gitignore
eclipse-workspace/aula1/.project
eclipse-workspace/aula1/.settings/
eclipse-workspace/aula2/.classpath
eclipse-workspace/aula2/.gitignore
eclipse-workspace/aula2/.project
eclipse-workspace/aula2/.settings/
eclipse-workspace/aula3/.classpath
eclipse-workspace/aula3/.project
eclipse-workspace/aula3/.settings/
eclipse-workspace/exercicios.tar.gz
eclipse-workspace/exercicios2.tar.gz
